.column {
  float: left;
}
  
.left {
  width: 75%;
}
  
.right {
  width: 25%;
}

#notifySupport {
  display: none;
  border: 2px solid rgb(126, 126, 156);
  background-color: rgb(246, 246, 250);;
  margin: 20px;
  padding: 10px;
}
  
#notifySupport #support {
  display: none;
  font-size: 16px;
  color: #0d8900;
}
  
#notifySupport #noSupport {
  display: none;
  font-size: 16px;
  color: #800000;
}

#logs {
  height: 100%;
  max-height: 600px;
  overflow: auto;
}

table { border: 2px solid black; }
input    { width: 300px; }
select   { width: 300px; }
#connect    { width: 100px; }
#disconnect { width: 100px; }
#send       { width: 100px; }